.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

body{
    color: #303030;
    background: #F4F7C0;
}

div{
    display: block;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 500px;
    background: #EFF8FF;
}

h1{
    font: bold 15px verdana;
}
h4{
    font: bold 12px verdana;
}
p{
    display: block;
    padding: 10px;
    border: 1px solid #FFB787;
    border-radius: 2px;
    font: normal 12px calibri;
    margin-top: 10px
}
