<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div >
    <h1>Hi {{name}}</h1>
    <h4>This webapplication under construction.</h4>
    <p>
        Diskutir webapplication is the place where people from different cities or even countries can discuss
        most common tech news. You can share your own ideas or emphasise most interesting views on recent
        discoveries, developments and mega-projects.
        App developers are: <ul><li>Andrej</li><li>Will</li><li>Christy</li><li>Tim</li></ul>
    </p>
</div>

</body>
</html>
